<div class="container">
  <h2>Articles:</h2>
  <table>
    <tr>
      <th class="col-lg-2"><h4>Title</h4></th>
      <th class="col-lg-8"><h4>Content</h4></th>
      <th>&emsp;</th>
    </tr>
 
    <% @articles.each do |article| %>
      <tr><td>&emsp;</td></tr>
      <tr>
        <td class="col-lg-2"><h6><%= article.title %></h6></td>
        <td class="col-lg-8"><%= article.text %></td>
        <td class="btn-group btn-group-justified">
          <%= link_to 'Show', article_path(article), type: :button, :class => 'btn btn-info' %>
          <%= link_to 'Edit', edit_article_path(article), type: :button, :class => 'btn btn-outline-primary'%>
          <%= link_to 'Delete', article_path(article),
                    type: :button,
                    :class => 'btn btn-danger',
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
  
        </td>
      </tr>
    <% end %>
  </table><br><br>
  <%= link_to '<h5>New article</h5>'.html_safe, new_article_path, type: :button, :class => 'btn btn-primary btn-block' %>
</div>