<nav class="navbar navbar-expand-md sticky-top">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
  	<div class="navbar-header">
  	  <%= link_to 'Bloogie', root_path, :class => "navbar-brand"  %>
  	</div>
  	<ul class="nav navbar-nav mr-auto">
  	  <li class="nav-item active"><%= link_to 'Articles', articles_path, class: "nav-link" %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'My Articles',  articles_my_article_path, class: "nav-link" %></li>
      <% end %>
  	</ul>
  	<% if user_signed_in? %>
  	  <ul class="nav navbar-nav navbar-right">
            <% if current_user.avatar.attached? %>
              <li class="nav-item"><%= image_tag current_user.avatar, class: "rounded-circle profile-pic"%></li>
              <li class="nav-item active"><%= link_to current_user.username, edit_user_registration_path, class: 'nav-link username' %></li>
            <% else %>
              <li class="nav-item active"><%= link_to 'User: '+current_user.username, edit_user_registration_path, class: "nav-link username" %></li>
            <% end %>
        <li class="nav-item"><%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
  	  </ul>
  	<% else %>
  	  <ul class="nav navbar-nav navbar-right">
    		<li class="nav-item"><%= link_to 'sign up', new_user_registration_path, :class => "nav-link" %></li>
    		<li class="nav-item"><%= link_to 'sign in', new_user_session_path, :class => "nav-link" %></li>
  	  </ul>
  	<% end %>
  </div>
</nav>
