<!DOCTYPE html>
<html>
  <head>
    <title>Bloogie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="jumbotron jumbotron-fluid">
        <h1 class="col-sm-4"><%= link_to 'Bloogie!', welcome_index_path, :type => 'button', :class => 'btn btn-outline-light btn-xl'%></h1>
      </div>
    <%= yield %>
  </body>
</html>
